html {
  background-color: #000000;
  color: white;
  overflow: hidden;
}

.story-id {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  background-color: rgb(235, 232, 222);
  padding: 4px;
}

.story-cover {
  background: linear-gradient(45deg, gold, fuchsia);
  width: 68px;
  height: 68px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.story-id.loading {
  border: 2px double rgb(37, 20, 37);
  cursor: pointer;
}

.story-id-text {
  text-align: center;
  transition: 0.6s ease-in-out;
  color: #000000;
  font-size: large;
  font-weight: 800;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .story-id {
    width: 50px;
    height: 50px;
  }

  .story-cover {
    width: 60px;
    height: 60px;
  }

  .story-id-text {
    font-size: medium;
  }
}
