.github {
    width: 35px;
    height: 35px;
    background-color: #fff;
    margin-top: 39%;
    margin-left: 25px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    z-index: 99;
  }
  
  .github:hover {
    background-color: rgb(94, 73, 57);
  }
  
  @media screen and (max-width: 1500px) {
    .github {
      margin-top: 163%;
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 1300px) {
    .github {
      margin-top: 163%;
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .github {
      margin-top: 163%;
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .github {
      margin-top: 163%;
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .github {
      margin-top: 163%;
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .github {
      margin-top: 163%;
      margin-left: 20px;
    }
  }
  