.arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
.custom-left-arrow {
    z-index: 20;
    position: fixed;
    margin-left: 34%;
    top: 50%;
    height: 25px; 
    width: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.508); 
    color: #333; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}
  
.custom-left-arrow:hover {
    background-color: #fff; 
}
.custom-right-arrow {
    z-index: 20;
    position: fixed;
    margin-left: 64.4%;
    top: 50%;
    height: 25px; 
    width: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    background-color: rgba(255, 255, 255, 0.508); 
    color: #333; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}
  
.custom-right-arrow:hover {
    background-color: #fff;
}